nav {
    display: grid;
    grid-template-columns: 30% 50% 20%;
    height: 10vh;
    box-shadow: $boxShadow;
    background: black;
    position: relative;
    ul.nav-items {
        grid-column: 2;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        li {
            cursor: pointer;
            a {
                color: white;
                text-transform: uppercase;
                font-weight: 700;
            }
        }
        .has-submenu {
            position: relative;
            height: 100%;
            display: inline-grid;
            place-content: center;
            // Handle overflow hover
            &::before {
                position: absolute;
                content: '';
                height: 100%;
                width: 50%;
                left: -10%;
            }
            &::after {
                position: absolute;
                content: '';
                height: 100%;
                width: 50%;
                right: -10%;
                z-index: 20;
            }
            &:hover {
                .nav-submenu {
                    opacity: 1;
                    visibility: visible;
                }
            }
            .nav-submenu {
                opacity: 0;
                visibility: hidden;
                transition: opacity 0.3s ease;
                position: absolute;
                top: 10vh;
                left: 0;
                width: max-content;
                box-shadow: $boxShadow;
                padding: 10px 20px;
                background: black;
                li {
                    line-height: 2.2em;
                }
            }
        }
    }


    a.nav__top-level {
        display: grid;
        grid-template-columns: auto 20px;
    }
    .menu-item-has-children {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .icons {
        padding: 1em 1em 1em 4em;
        grid-column: 3;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        svg {
            color: white;
            height: 20px;
            width: 20px;
        }
    }

    .search-container {
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 1em;
        justify-content: center;
        align-items: center;
        transition: opacity 0.6s ease;
        form.search-form {
            position: absolute;
            width: 100%;
            padding: 1em;
            background: rgba(0, 0, 0, 0.7);
            transition: opacity 0.6s ease;
        }
    }
}