body { background: pink; 

}

.left-media-right-text {
    display: flex;
    flex-direction: row;
}

.left-media-right-text .left-media {
    flex: 0 0 50%;
}

.left-media-right-text .left-media img {
    max-width: 100%;
    height: auto;
}

.left-media-right-text .right-text {
    flex: 1;
    padding: 0 20px;
}
